body {
    font: 1em/1.5 Arial, sans-serif;
    background: url("../img/image.jpg") no-repeat fixed;
    background-size: cover;
}

input[type="text"],
input[type="password"],
input[type="submit"] {

    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 2px;

}

section {

    min-height: calc(100vh - 60px);

}